{% extends 'baseUser.html.twig' %}

{% block title %}Главная{% endblock %}
{% block description %}описание страницы{% endblock %}
{% block keywords %}супер,пупер{% endblock %}
{% block heading %}{% endblock %}








{% block body %}

    <div class="container background-img-top">
        <div class="content-introduction">
            <div class="tagline">
                <h3 class="tagline-text">РАЗРАБОТКА САЙТОВ И ВЕБ-ПРИЛОЖЕНИЙ</h3>
                <h1 class="tagline-intro">Индивидуальные решения для Вашего бизнеса!</h1>
                <h2><span class="tagline-intro-company">WEDLS</span>
                    <span class="tagline-intro-company-text">- Ваш надежный бизнес партнер на долгие годы!</span></h2>
            </div>
            <div class="opportunities-block">
                <div class="opportunities-items">
                    <img class="icon-top-list icon-developmenеt" src="{{ asset('assets/img/icon/icon-card.png') }}">
                    <div class="opportunities-items-text">Сайты-визитки</div>
                </div>
                <div class="opportunities-items">
                    <img class="icon-top-list icon-promotion" src="{{ asset('assets/img/icon/icon-corporate.png') }}">
                    <div class="opportunities-items-text">Корпоративные</div>
                </div>
                <div class="opportunities-items">
                    <img class="icon-top-list icon-shop " src="{{ asset('assets/img/icon/icon-shop.png') }}">
                    <div class="opportunities-items-text">Web-магазины</div>
                </div>
                <div class="opportunities-items">
                    <img class="icon-top-list icon-support" src="{{ asset('assets/img/icon/icon-individual.png') }}">
                    <div class="opportunities-items-text"> Индивидуальные</div>
                </div>
            </div>
        </div>
        <a name="services"></a>
    </div>

    <div class="content-background-img">
        <div class="content-block">
            <div class="list-services-block">
                <div class="intro-services">
                    <div class="title-block">ЧТО МЫ ПРЕДЛАГАЕМ?</div>
                    title-text-intro-block
                    <div class="title-text-intro-block"><a>Список услуг</a></div>
                    <div class="intro-services-title-list-text">
                        Мы предлагаем комплексную разработку современных веб-проектов.
                        Наш опыт для Вашего Бизнеса!
                    </div>
                </div>
                <div class="services-box">
                    <div class="services-item">
                        <img src="{{ asset('assets/img/services/007.webp') }}" onerror="this.onerror=null; this.src='image.png'">
                        <div class="services-item-title">Разработка сайтов</div>
                        <div class="services-item-text">Разработка сайтов с индивидуальным функционалом и дизайном.</div>
                    </div>
                    <!--                <div class="services-item">-->
                    <!--                    <img src="/dev3/views/assets/img/004.webp" onerror="this.onerror=null; this.src='image.png'">-->
                    <!--                    <div class="services-item-title">SEO оптимизация и продвижение</div>-->
                    <!--                    <div class="services-item-text">Предлагаем комплексное решение по внутренней и внешней оптимизации сайтов.</div>-->
                    <!--                </div>-->
                    <div class="services-item">
                        <img src="{{ asset('assets/img/services/006.webp') }}" onerror="this.onerror=null; this.src='image.png'">
                        <div class="services-item-title">Техническая поддержка</div>
                        <div class="services-item-text">Техническое обслуживание и поддержка ваших проектов.</div>
                    </div>
                    <div class="services-item">
                        <img src="{{ asset('assets/img/services/005.webp') }}" onerror="this.onerror=null; this.src='image.png'">
                        <div class="services-item-title">Дизайн/Редизайн</div>
                        <div class="services-item-text">Проектируем уникальный дизайн/структуру веб-сайтов.</div>
                    </div>
                    <div class="services-item">
                        <img src="{{ asset('assets/img/services/002.webp') }}" onerror="this.onerror=null; this.src='image.png'">
                        <div class="services-item-title">Продажа шаблонных решения</div>
                        <div class="services-item-text">Уже готовые проекты,Вам остается только заполнить своим контентом.</div>
                    </div>
                    <div class="services-item">
                        <img src="{{ asset('assets/img/services/speed.webp') }}" onerror="this.onerror=null; this.src='image.png'">
                        <div class="services-item-title">Увеличение скорости загрузки</div>
                        <div class="services-item-text">Повышаем скорость загрузки сайта на всех устройствах!<a name="why-we"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-why-background-img">
        <div class="content-block">
            <div class="why-we-block">
                <div class="title-block">
                    ПОЧЕМУ МЫ?
                </div>
                <div class="title-text-intro-block  ">
                    Мы молодая прогрессивная компания!
                </div>
                <div class="why-we-text-block">



                    <p class="text-why">
                        Приоритетным принципом работы нашей компании является принцип индивидуального подхода к каждому
                        клиенту.</p><p class="text-why">Мы стремимся к тому, чтобы каждый наш клиент остался полностью удовлетворен проделанной нами
                        работой и полученным результатом!
                    </p>


                    <div class="why-list">
                        <img  align="left"  src="{{ asset('assets/img/icon/icon-3.png') }}">
                        <div class="why-list-title">Цена</div>
                        <div class="why-list-text">
                            Цены на наши услуги самые низкие на рынке в сфере web-разработки!
                        </div>
                    </div>
                    <div class="why-list">
                        <img  align="left"  src="{{ asset('assets/img/icon/icon-2.png') }}">
                        <div class="why-list-title">Качество</div>
                        <div class="why-list-text">
                            Использование самых стабильных технологий в написании кода.
                        </div>
                    </div>
                    <div class="why-list">
                        <img  align="left"  src="{{ asset('assets/img/icon/icon-4.png') }}">
                        <div class="why-list-title">Обьективность</div>
                        <div class="why-list-text">
                            Не навязываем не нужные услуги,только самое необходимое!
                        </div>
                    </div>
                    <div class="why-list">
                        <img  align="left" src="{{ asset('assets/img/icon/icon-1.png') }}">
                        <div class="why-list-title">Сроки выполнения</div>
                        <div class="why-list-text">
                            Мы крайне пунктуальны, наша работа будет готова в оговоренные сроки.
                        </div>
                    </div>

                </div>
                <div class="img-why-we">
                    <img src="{{ asset('assets/img/008.webp') }}" onerror="this.onerror=null; this.src='image.png'">
                </div>
            </div>
        </div>
    </div>

    <div class="about-us-block about-us-img">
        <div class="title-block ">О НАС</div>
        <div class="text-about-us">
            Фирма WEDLS была основана в 2019 году, с целью предлагать услуги высокого качества за <a class="text-decoration">минимальную цену
                на рынке</a> информационных технологий и мультимедиа.
            <br> Наша основная задача – помочь Вам вывести бизнес на более высокий уровень.<a name="portfolio"></a>
        </div>
    </div>

    <div class="portfolio-block-img">
        <div class="portfolio-block">
            <div class="title-block">Наше портфолио</div>
            <div class="title-text-intro-block">
                Несколько примеров наших работ
            </div>
            <div class="portfolio-title-text">
                У нас имеется солидный опыт работы
                с разными проектами, начиная от простых одностраничных сайтов, заканчивая крупными интернет-магазинами
                и прочими системами.
            </div>
            <div class="list-portfolio">
                <div class="portfolio-item portfolio-item-img-1">
                    <div class="portfolio-item-about">
                        <div class="portfolio-item-title">Сайт визитка</div>
                        <div class="portfolio-item-website"><a href="http://tamsystems.ru/">tamsystems.ru</a></div>
                    </div>
                </div>
                <div class="portfolio-item portfolio-item-img-lard">
                    <div class="portfolio-item-about">
                        <div class="portfolio-item-title">Лендинг</div>
                        <div class="portfolio-item-website"><a href="https://kupi-tabak.ru/">kupi-tabak.ru</a></div>
                    </div>
                </div>
                <div class="portfolio-item portfolio-item-img-lard">
                    <div class="portfolio-item-about">
                        <div class="portfolio-item-title">Интернет магазин</div>
                        <div class="portfolio-item-website"><a href="https://wedls.com/">wedls.com</a></div>
                    </div>
                </div>
                <div class="portfolio-item portfolio-item-img-lard">
                    <div class="portfolio-item-about">
                        <div class="portfolio-item-title">Интернет магазин</div>
                        <div class="portfolio-item-website"><a href="https://wedls.com/">wedls.com</a></div>
                    </div>
                </div>
                <div class="portfolio-item portfolio-item-img-lard">
                    <div class="portfolio-item-about">
                        <div class="portfolio-item-title">Интернет магазин</div>
                        <div class="portfolio-item-website"><a href="https://wedls.com/">wedls.com</a></div>
                    </div>
                </div>
                <div class="portfolio-item portfolio-item-img-lard">
                    <div class="portfolio-item-about">
                        <div class="portfolio-item-title">Интернет магазин</div>
                        <div class="portfolio-item-website"><a href="https://wedls.com/">wedls.com</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="prices-background-img">
        <a name="price"></a>
        <div class="prices-block">

            <div class="title-block border-style">Цены</div>


            <div class="item-prices border-style">
                <div class="title-block border-style-title">WEB Разработка</div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block">Лендинг</a></div>
                <div class="cost-prices cost-block-display"><a class="title-text-intro-block border-style-title-item">от 4000 руб</a></div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block">Сайт-визитка</a></div>
                <div class="cost-prices cost-block-display" ><a class="title-text-intro-block border-style-title-item low-price" >от 2000 руб</a></div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block">Web-магазины</a></div>
                <div class="cost-prices cost-block-display"><a class="title-text-intro-block border-style-title-item">от 15000 руб</a></div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block">Индивидуальные</a></div>
                <div class="cost-prices cost-block-display"><a class="title-text-intro-block border-style-title-item">от 6000 руб</a></div>
            </div>

            <div class="item-prices border-style">
                <div class="title-block border-style-title">Оптимизация сайтов</div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block ">Скорость загрузки</a></div>
                <div class="cost-prices cost-block-display"><a class="title-text-intro-block border-style-title-item low-price">от 1000 руб</a></div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block">SEO оптимазация</a></div>
                <div class="cost-prices cost-block-display"><a class="title-text-intro-block border-style-title-item">от 8000 руб/м</a></div>
            </div>

            <div class="item-prices border-style">
                <div class="title-block border-style-title">Техническая поддержка</div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block">Внесение правок</a></div>
                <div class="cost-prices cost-block-display"><a class="title-text-intro-block border-style-title-item">от 300 руб</a></div>

                <div class="cost-title cost-block-display"><a class="title-text-intro-block">Тех поддержка</a></div>
                <div class="cost-prices cost-block-display"><a class="title-text-intro-block border-style-title-item">от 1000 руб/м</a></div>
            </div>

        </div>
    </div>
    <a name="contacts"></a>

{% endblock %}














{#{% block footer %}{% endblock %}#}