<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {#seo инфрмация#}
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    {# Favicons #}
    <link href="{{ asset('assets/img/favicon.ico') }}" rel="icon">
    {# основное стили сайта #}
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>


    {# добавочные ссылки #}
    {% block heading %}{% endblock %}
    <meta name="viewport" content="width=device-width">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Разработка сайтов и веб-приложений">
    <meta property="og:url" content="https://wedls.com/">
    <meta property="og:image" content="{{ asset('assets/img/og/006.webp') }}">
    <meta property="business:contact_data:street_address" content="Сызранова">
    <meta property="business:contact_data:locality" content="Таганрог">
    <meta property="business:contact_data:region" content="Ростовская область">
    <meta property="business:contact_data:postal_code" content="347949">
    <meta property="business:contact_data:country_name" content="Russia">
    <link rel="canonical" href="https://wedls.com/"/>


</head>
<body>

{# меню #}
{% block menu %}
    <div class="top-block">
        <nav>
            <div class="logo"><img src="{{ asset('assets/img/logo.png') }}"></div>
            <ul class="topmenu">
                <li><a href="">Главная</a></li>
                <li><a href="#services" class="down">УСЛУГИ</a>
                    <!--                <ul class="submenu">-->
                    <!--                    <li><a href="">Дизайн</a></li>-->
                    <!--                    <li><a href="">Проддвижение</a></li>-->
                    <!--                    <li><a href="">Техническая поддержка</a></li>-->
                    <!--                    <li><a href=""></a></li>-->
                    <!--                </ul>-->
                </li>
                <li><a href="#why-we">Почему мы?</a></li>
                <? /** TODO : блок скрыт  классом hidden-block */  ?>
                <li class="hidden-block"><a href="#portfolio" class="down">Портфолио</a>

                    <!--                <ul class="submenu">-->
                    <!--                    <li><a href="">Лендинг</a></li>-->
                    <!--                    <li><a href="">Магазины</a></li>-->
                    <!--                    <li><a href="">Сервисы/Услуги</a></li>-->
                    <!--                </ul>-->
                </li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="#price">Цены</a></li>

            </ul>
            <div class="login-registration-2">
                <a href="{{ path('register') }}">
                    <img class="icon-registration icon-opportunities "
                         src="{{ asset('assets/img/icon/icon-registration.png') }}">
                </a>

                <a href="{{ path('app_login') }}">
                    <img class="icon-sign-in icon-opportunities opportunities-icon-background"
                                                       src="{{ asset('assets/img/icon/icon-sign-in.png') }}">
                </a>

                <a href="{{ path('app_logout') }}">
                    <img class="icon-opportunities icon-developmenеt opportunities-icon-background"
                         src="{{ asset('assets/img/icon/icon-exit.png') }}">
                </a>


            </div>
        </nav>
    </div>
    <div class="mobile-menu">
        <div class="menu">
            <div class="icon-close">
                <img src="{{ asset('assets/img/imag-mobile-menu/close-btn.png') }}">
            </div>
            <ul>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#why-we">Почему мы?</a></li>

                <? /** TODO : блок скрыт  классом hidden-block */  ?>
                <li class="hidden-block"><a href="#portfolio">Портфолио</a></li>

                <li><a href="#contacts">Контакты</a></li>
                <li><a id="price-page" href="#price">Цены</a></li>
            </ul>
        </div>
        <div class="background">
            <div class="icon-menu">
                <img class="mobile-logo" src="{{ asset('assets/img/logo.png') }}">
                <img class="icon-mobile-menu" src="{{ asset('assets/img/imag-mobile-menu/menu-ham-icon.png') }}">
                <a>Menu</a>
            </div>
        </div>
    </div>
{% endblock %}

{# основной контент страницы #}
{% block body %}{% endblock %}








{# #}
{#{% block footer %}{% endblock %}#}

<div class="contact-img">
    <div class="contact-us">

        <div class="title-block">КАК С НАМИ СВЯЗАТЬСЯ?</div>
        <div class="title-text-intro-block">
            Если у Вас есть вопросы, не стесняйтесь,
            <a class="text-decoration"> связывайтесь с нами любым удобным способом.</a>
        </div>
        <div class="cont-fid">
            <div class="contact-us-block">
                <div class="contact-us-title ">Контактные данные</div>
                <div class="contact-item">
                    <img align="left" class="contact-item-img " src="{{ asset('assets/img/icon/icon-5.png') }}">
                    <p class="title-contact-item ">Компания</p>
                    <p class="title-contact-text ">WEDLS</p>
                </div>
                <div class="contact-item">
                    <img align="left" class="contact-item-img " src="{{ asset('assets/img/icon/icon-6.png') }}">
                    <p class="title-contact-item ">Email</p>

                    <p class="title-contact-text "><a class="text-decoration" href="mailto:wedlsinfo@gmail.com">wedlsinfo@gmail.com</a>
                    </p>
                </div>
                <div class="contact-item">
                    <img align="left" class="contact-item-img " src="{{ asset('assets/img/icon/icon-7.png') }}">
                    <p class="title-contact-item ">Телефон</p>
                    <p class="title-contact-text "><a class="text-decoration"
                                                      href="tel:+79888937944">+7-(988)-893-79-44</a></p>
                </div>
            </div>
            <img src="{{ asset('assets/img/icon/6mz.gif') }}" style="max-height: 224px;max-width: 211px;">
            <div class="contact-form">
                <div id="successful_sending" class="successful_sending"></div>
                <div class="contact-form-title">Форма обратной связи</div>
                <div class="contact-form-text">Напишите по любому вопросу и мы ответим Вам в течении 24 часов!</div>
                <form action="massage/" method="post" id="feedback_form">
                    <input id="name" class="input" type="text" name="name" title="name" placeholder="Ваше имя">
                    <input id="email" class="input" type="email" name="email" title="email" placeholder="Email">
                    <input id="number" class="input" type="number" name="number" title="number" placeholder="Телефон">
                    <textarea id="message" class="input-text" title="" name="message"
                              placeholder="Текст сообщения"></textarea>
                    <input id="send_feedback_form" class="input-submit" type="submit" name="submit-form"
                           title="submit-form" value="Отправить">
                </form>
            </div>
            <div class="footer-block">
                <div class="content-footer">
                    <div class="footer-content">
                        <a href="https://vk.com/public190109411"><img class="icons"
                                                                      src="{{ asset('assets/img/icon/icon-vk.png') }}"></a>
                        <input class="number-button footer-item-position" type="button" value="+7-(988)-893-79-44"
                               onclick="location.href = 'tel:+79888937944'">
                        <a href="https://wa.me/79888937944"><img class="icons"
                                                                 src="{{ asset('assets/img/icon/icon-whatsap.png') }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{# библиотека JQ #}
<script src="{{ asset('assets/lib/jquery/jquery.min.js') }}"></script>
<script async>

</script>

{# дополнительный JS #}
<script>
    {% block javascripts %}{% endblock %}
</script>
{# основной JS #}
<script src="{{ asset('assets/js/all-script.js') }}"></script>

</body>
</html>
